CONSUMER_SECRET=
ACCESS_TOKEN_SECRET=
PYTHONIOENCODING=utf-8
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2
TRACK_KEYWORDS=quake,earthquake,magnitude,richter,tsunami,seismic
TRACK_USERS=37534994,94119095,1148387713,2417085025,20953901,16664681,12804312
