CONSUMER_SECRET=xFlx4QXRI2KWFGY8OtMPfSLSXX4jwTACeoXwryh3Yq0X5wJ75c
ACCESS_TOKEN_SECRET=Y3e9GzLJKCd62JS499KmXezqoyzipJdeYckbMzGCmg2gv
PYTHONIOENCODING=utf-8
AWS_ACCESS_KEY_ID=AKIAIBXADOYW26BUVAFA
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-west-2
